extends layout
block content
    script(src="./javascripts/apis.js")
    |<div data-role="page">
      
    |<div data-role="header" data-position="fixed">
    |    <a href="/logout" data-role="button">Log out</a>
    |    
    |    <h1>eatbit</h1>
    |  </div><!-- /header -->
    
    |  <div data-role="content"> 
    |  <p id="weight">Your Weight:</p>
    |  <p id="calories-to-go"><strong>Calories to Go:</strong></p>
    
    |  <center>  
    |  <div data-role="fieldcontain">
    |    
    |    <form>
    |    <select name="select-choice-c" id="select-choice-c">
    |      <option value='selected'>Choose a Restaurant</option>
    |    </select>
    |    </form>
    |    <button id="refresh">Get Menu</button>
    |  </div>
    |  
    
      
    |  <div data-role="fieldcontain">     
    |    <select name="select-choice-d" id="select-choice-d">
    |      <option value='selected'>Choose a Dish</option>
    |    </select>
    |    <button id="addToCart">Add to Cart</button>
    |  </div>
    |  </center>
    |  </div><!-- /content -->
      
    |  <div class="ui-body">
    |    <div data-role="collapsible" data-collapsed="true" data-theme="a">
    |      <h3>My Shopping Cart</h3>
    |      <ul data-role="listview" data-inset="true" id="cart">
    |        <li>Item 1</li>
    |        <li>Item 2</li>
    |        <li>Item 3</li>
    |    </ul>
    |    </div><!-- /collapsible -->
      
    |  <a href="#" data-role="button">Place Order</a>
      
    |  </div><!-- /themed container -->
      
    
    |  <div data-role="footer" data-position="fixed">
    |    <div data-role="navbar">
    
    |    </div>
    |  </div>
    
    |</div><!-- /page -->
